@keyframes flyIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: aliceblue;
}

.card {
  padding: 2rem;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  animation: flyIn 0.8s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  color: #4e8a3c;
  font-size: 2rem;
}

.iconContainer {
  position: relative;
  display: inline-block;
  font-size: xx-large;
  transition: transform 0.3s ease, color 0.3s ease;
}

.iconContainer:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.plusIcon {
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: green;
}