.addbtn {
  position: 'fixed';
  bottom: '20px';
  right: '20px'
}

.animate {
  animation: fadeIn ease 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.actions {
  display: flex;
  justify-content: center;
}